@charset "UTF-8";
/* CSS Document */

/* RESET */

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background: #FBFBF3;

}

img {
	width: 100%;
}

.container{
	margin: auto;
}

.primary-text {
	color: #0f61a8;
}

/* HEADER */
#main-header{
	border-bottom: 1px solid #3498DB;
	background: #0f61a8;
}
#main-header a {
	text-decoration: none;
	color: white;
}

/* NAVBAR */
#navbar{
	text-transform: uppercase;
	
	
}
#navbar li {
	display: inline;
	padding-right: 20px;
	list-style: none;
}
#navbar a {
	text-decoration: none;
	color: white;
}
#navbar li.current a, #navbar a:hover{
	color: #f5d03f;
	border-bottom: 3px solid #f5d03f;
	padding-bottom: 3px;
}
#main-header h1 {
	color: white;
}
#main-header img {
	width: 40px;
}
/*HAMBURGER MENU*/
.toggle {
	width: 100%;
	padding: 10px 20px;
	background: #4183d7;
	text-align: right;
	box-sizing: border-box;
	color: white;
	font-size: 30px;
	display: none;
	
}
@media(max-width:800px){
	.toggle{
		display: block;
	}
	
	#navbar
	{
		width: 100%;
		background: #2C3E50;
	
	}
	#navbar li
	{
		display: block;
		text-align: center;
		padding: 20px 0;
	}
	.active {
		display: block;
	}
}





#showcase {
	background:url(../images/stadium2.jpg) no-repeat center center;
	
}
#showcase .row {
	height: 800px;
}
#showcase h1 {
	font-size: 50px;
	margin: 0;
	padding-bottom: 20px;
	
}
#showcase h2 {
	font-size: 35px;
	font-weight: lighter;
	
}
#showcase h3{
	font-size: 30px;
	margin-top: 60px;
	padding: 20px;
	line-height: 40px;	

}
#showcase .undertext {
	background: white;
	opacity: 0.6;
}
#showcase .showcase-content {
	background: #333;
	color: white;
	padding: 40px;
	opacity: 0.9;
	margin-top: 100px;
}

#showcase .button {
	background: #0F61A8;
	padding: 20px 120px;
	text-decoration: none;
	color: white;
	font-size: 40px;
	opacity: 0.8;
	
}
#showcase a:hover{
	background: #22303F;
	color: #F5D03F;
}


#scroll-features {
	padding: 20px 0px;
	
}

#scroll-features h1 {
	font-size: 60px;
	color: #2B2B2B;
}


/* LATEST NEWS */
#scroll-features{
	background:url(../images/bodybg.png) no-repeat center center;
	height: 100%;
	padding: 40px;
}

#scroll-features img {
	-webkit-box-shadow: -3px -2px 5px 0px rgba(50, 50, 50, 0.56);
		-moz-box-shadow:    -3px -2px 5px 0px rgba(50, 50, 50, 0.56);
		box-shadow:         -3px -2px 5px 0px rgba(50, 50, 50, 0.56);
}

#scroll-features .mobile {
	display: none;
}

@media(max-width:800px){
	#scroll-features .desktop {
		display: none;
	}
	#scroll-features .mobile {
		margin-bottom: 20px;
		display: block;
		-webkit-box-shadow: -3px -2px 5px 0px rgba(50, 50, 50, 0.56);
		-moz-box-shadow:    -3px -2px 5px 0px rgba(50, 50, 50, 0.56);
		box-shadow:         -3px -2px 5px 0px rgba(50, 50, 50, 0.56);
		
	}
	#showcase .button {
	background: #0F61A8;
	padding: 20px 100px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	opacity: 0.8;
	
	}
	#showcase h3{
	font-size: 20px;
	margin-top: 60px;
	padding: 20px;

	}
}


/* MATCH CENTRE */
#matchcentre{
	background:url(../images/bodybgreverse.png) no-repeat center;
	height: 100%;
	padding-bottom: 40px;
	margin-top: -25px	
}

#matchcentre .textbox {
	background: #22303f;
	margin-top: 20px;
}

#matchcentre h1{
	font-size: 60px;
	color: #fff;
}

#matchcentre img {
-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
#matchcentre h3{
	color: #fff;
	font-size: 30px;
}

#matchcentre .mobile {
	display: none;
}
@media(max-width:800px){
	#matchcentre h1 {
		font-size: 40px;
	}
	#matchcentre h3 {
		font-size: 20px;
	}
	#matchcentre .desktop {
		display: none;
	}
	#matchcentre .mobile {
		display: block;
	}
}

/* MEDIA QUERIES */
@media(max-width: 800px){
	#showcase h1 {
		font-size: 30px;
	}
	#scroll-features .scrollicon{
		display: none;
	}
}
@media(max-width: 500px){
	#showcase .showcase-content {
		padding: 40px 10px;
	}
}


/* FOOTER */ 
footer {
	background: #0f61a8;
	color: white;
	padding: 50px;
}
footer img {
	width: 100px;
}





